@use "./media" as *;
@use "./mixins" as *;

:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;

  --border-light: 1px solid var(--color-light);
  --border-gray: 1px solid var(--color-dark-gray);

  --border-radius: 30px;

  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;

  --button-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 20px;

  --transition-duration: 0.2s;

  --header-height: 90px;
}
